<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relation.tag.mapper.greenplum.GreenplumDimRuleSqlContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.relation.tag.entity.DimRuleSqlContent">
        <id column="id" property="id" />
        <result column="rule_name" property="ruleName" />
        <result column="rule_sql" property="ruleSql" />
        <result column="rule_order" property="ruleOrder" />
    </resultMap>
</mapper>
